body {
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    height: 100%;
}

.cell.row {
    background-color: blue;
}

.cell.column {
    background-color: yellow;
}

.target {
    padding: 8px;
}