$color-primary: #fbeedf;
$color-primary-dark: darken($color-primary, 10%);
$color-row: #a2debd;
$color-row-dark: darken($color-row, 10%);
$color-row-darker: darken($color-row-dark, 10%);
$color-column: #f9afec;
$color-column-dark: darken($color-column, 10%);
$color-column-darker: darken($color-column-dark, 10%);
$color3: #8384df;
$color-sidebar: #ffd5fa;
$color-target: #b79ff1;
$color-target-light: lighten($color-target, 10%);


html {
  height: 100%;
  font-family: sans-serif;
  background-color: $color-primary;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

input, textarea, button {
  font-family: inherit;
}

.main {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: row;
}

.cell, .product, .clear-all {
  border-radius: 0;
  border: none;
  width: 128px;
  height: 128px;
  font-size: 32px;

  &:disabled {
    cursor: not-allowed;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}

.clear-all {
}

.row.product, .clear-all {
  margin-left: 16px;
}

.row.product, .row.cell {
  background-color: $color-row;

  &:not(:disabled) {
    &:hover {
      background-color: $color-row-dark;
    }

    &:active {
      background-color: $color-row-darker;
    }
  }
}

.column {
  background-color: $color-column;

  &:not(:disabled) {
    &:hover {
      background-color: $color-column-dark;
    }

    &:active {
      background-color: $color-row-darker;
    }
  }
}

.correct {
  color: gray;
}

.column.product, .clear-all {
  margin-top: 16px;
}

.target {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  min-width: 24px;
  min-height: 24px;
  border-radius: 24px;
  margin-right: 4px;
  margin-top: 4px;
  background-color: $color-target;

  &.achieved {
    background-color: $color-target-light;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  max-width: 256px;
  justify-content: space-between;
  background-color: $color-sidebar;
  padding: 16px;
}

.targets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.control {
  width: 100%;
}

.build-info {
  position: fixed;
  right: 0;
  top: 0;
  text-align: right;
  padding: 1em;
  text-decoration: none;
  color: $color-primary-dark;

  &:hover {
    background-color: $color-primary-dark;
    color: black;
  }
}